body {
    background-color: lightgray;
}

h1 {
    font-weight: bolder;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container
{
  width: 25%;
  height: 25%;
  display: grid;

}